.formContato {
  padding: 5px;
  font-size: x-large;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.formLeadEbook {
  padding: 5px;
  font-size: x-large;
  align-items: center;
  align-self: center;
  justify-content: center;
}
